* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(21, 49, 58);
} 

.messenger_display_wrapper {
    align-items: flex-start;
    justify-content: center;
    width: 450px;
    height: 400px;
    margin: 100px 0px 0px 150px;
    background-color: white;
    border: solid 1px #ff9400;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.message_link {
    margin: 0px 0px 0px 150px;
    height: 27px;
    width: 380px;
    border: solid 1px #ff9400;
}

input {
    margin-left: -4px;
    height: 27px;
    width: 70px;
}
    
.messageSubmit {
    width: 65px;
    height: 27px;
    margin-left: -4px;
    background: white;
    border: solid 2px #ff9400;
    color: #ff9400;
    box-shadow: 1px 2px;
    margin-left: -1px;
}

.chat_in_put {
    padding-top: 4px;
}

.messageSubmit:active {
    box-shadow: none;
    top: 2px;
}

.messageSubmitMouseDown {
    width: 70px;
    height: 27px;
    margin-left: -4px;
    background: white;
    border: solid 2px #ff9400;
    color: #ff9400;
    padding: 1px 2px;;
}

.message {
    background-color: aqua;
    color: white;
    padding: 3px 25px;
    border-radius: 30px;
    display: inline;
    margin: 4px 25px;
}

.align_self_end {
    align-self: flex-end;
}

.green {
    background-color: green;
}
